<IfModule mod_rewrite.c>
  Options +FollowSymlinks -MultiViews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{QUERY_STRING} !not_found=1 [NC]
  RewriteRule ^(.*)$ xman/plugins_router.php?q=$1 [L,QSA]
</IfModule>

# Protect files from prying eyes.
<FilesMatch "\.(inc|info|extension|install)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
  </IfModule>
</FilesMatch>
